<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Perspiciatis ipsa aut, debitis quibusdam distinctio saepe
      eum pariatur sequi facere soluta 
    vero fugiat ratione rerum natus modi, sed ea. Architecto, eveniet!</p>
<%- include("footer") -%>